{% set page_title = "Menu" %}

{% extends theme("layout.html") %}
{% block content %}
{% from theme('macros.html') import render_pagination, group_field %}

<div class="pull-right" style="padding-bottom: 10px">
    <div class="btn-group">
        <a href="/menu/edit" class="btn btn-default">
            <span class="fa fa-pencil"></span> Edit Menu
        </a>
    </div>
</div>


{% for c in categories %}
	<table class="table table-bordered">
	    <thead>
	        <tr>
	        <td colspan="4"><big><strong>{{c.name}}</strong></big>
	        	<p>&emsp;{{c.description}}</p>
	        </td>
	        </tr>
	    </thead>
	
	    <tbody>
	        <tr>
	            <td colspan="2" >Name</td>
	            <td>Price</td>
	            <td>Description</td>
	        </tr>
	        {% for m in menus %}
		        {% if m.category_id == c.id %}
			        <tr>
			            <td  style="vertical-align: middle; text-align: center;">
			            	{% if m.picture %}
			            		<img src={{m.picture}} width="100" height="100">
			            	{% else %}
			                    <span class="fa fa-glass" style="font-size: 2em"></span>
			                {% endif %}
			            </td>
			            <td>
			                <div>
			                    {{m.name}}
			                </div>
			            </td>
			            <td width="70">
			                {{m.price}}
			            </td>
			            <td>
			                {{m.description}}
			            </td>
			        </tr>
			        <tr><td colspan="4">
			        <img src=Koala.jpg  style="display:block"/>
			        </td></tr>
			        <tr><td colspan="4">
			        {% if m.picture %}
			        <img src="{{m.picture}}">
			        {% endif %}
			        </td></tr>
		        {% endif %}
	        {% endfor %}
	    </tbody>
	</table>
{% endfor %}

{% endblock %}
