{% set page_title = "Menu" %}

{% extends theme("layout.html") %}
{% block content %}
{% from theme('macros.html') import render_pagination, group_field %}

<div class="pull-right" style="padding-bottom: 10px">
    <div class="btn-group">
        <a href="/menu" class="btn btn-primary">
            <span class="fa fa-book"></span> Back To Menu
        </a>
    </div>
</div>

<table class="table table-bordered">
    <thead>
        <tr>
        <td colspan="4"><big><strong>{{menu.name}}</strong></big>
        	<p>&emsp;{{menu.description}}</p>
        </td>
        </tr>
    </thead>

    <tbody>
        <tr>
            <td colspan="1" width="15%">Price</td>
            <td colspan="3">{{menu.price}}</td>
        </tr>
        <tr>
            <td colspan="4">
            	{% if menu.picture %}
            		<img src="/picture/{{menu.picture}}" width="300" height"300" style="display:block">
            	{% else %}
            		<span class="fa fa-glass" style="font-size: 2em"></span>
            	{% endif %}
            </td>
        </tr>
    </tbody>
</table>

{% endblock %}
