{% set page_title = "Order" %}

{% extends theme("layout.html") %}
{% block content %}
{% from theme('macros.html') import render_pagination, group_field %}



<table class="table table-bordered">
    <thead>
        <tr>
            <th>Table #</th>
            <th>Order_Content</th>
            <th>Price (Won) </th>
            <th>Time</th>
            <th colspan="2">Status</th>
        </tr>
    </thead>
    <tbody>
        {% for o in orders %}
	        {% if o.status == 'pending' %}
		        <tr height="60">
		            <td>{{ o['table'] }}</td>
		            <td>{{ o['order_content'] }}</td>
		            <td>{{ o['price'] }}</td>
		            <td>{{ o['time'] }}</td>
		            <td>{{ o['status'] }}
		        		<div class="pull-right">
		            	<a href="{{ url_for('home.done', o_id=o.id) }}" class="btn btn-default" align="right">
							done
				        </a></div>
				    </td>
		        </tr>
	        {% endif %}
        {% endfor %}
        {% for o in orders %}
	        {% if o.status == 'done' %}
		        <tr height="60">
		            <td>{{ o['table'] }}</td>
		            <td>{{ o['order_content'] }}</td>
		            <td>{{ o['price'] }}</td>
		            <td>{{ o['time'] }}</td>
		            <td>{{ o['status'] }}</td>
		        </tr>
	        {% endif %}
        {% endfor %}
    </tbody>
</table>

<meta http-equiv="refresh" content="3" >

{% endblock %}
